//main variables

$body-color: #001322;
$form-color: #eeeeee;
$ico-background-color: #50b54b;
$input-color: #f9f9f9;
$placeholder-font-color: #6d4a4a;
$white-color: #fff;
$black-color: #000;
$button-color: #0769b2;
$button-shadow-color: #00477b;
$error-color: #e00024;
$error-border-color: #f7a5a7;